<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Markdown Editor</title>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  </head>

  <body class="container-fluid">
    <main>Hello World</main>
  </body>
</html>
